:root {
    --primary-orange: hsl(35, 77%, 62%);
    --primary-red: hsl(5, 85%, 62%);
    --secondary-white: hsl(36, 100%, 99%);
    --secondary-gray-blue: hsl(233, 8%, 79%);
    --secondary-dark-gray-blue: hsl(236, 13%, 42%);
    --secondary-very-dark-blue: hsl(240, 100%, 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    padding: 10px 100px;
}

.attribution {
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media only screen and (max-width: 1100px) {
    html {
        padding: 10px 40px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 12px;
        padding: 15px;
    }
}