:root {
    --primary-orange: hsl(35, 77%, 62%);
    --primary-red: hsl(5, 85%, 62%);
    --secondary-white: hsl(36, 100%, 99%);
    --secondary-gray-blue: hsl(233, 8%, 79%);
    --secondary-dark-gray-blue: hsl(236, 13%, 42%);
    --secondary-very-dark-blue: hsl(240, 100%, 5%);
}

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    padding : 10px 250px;
}

.main-container{
    width: 100%;
    min-height: 400px;
    display:flex;
    margin-bottom: 50px;
}