.main-content {
    width: 70%;
    margin-right: 30px;
    margin-bottom: 20px;
}

.main-image {
    width: 100%;
    margin-bottom: 20px;
}

.main-news-details {
    width: 100%;
    display: flex;
}

.main-header {
    font-size: 3.2rem;
    width: 50%;
    padding-right: 100px;
    font-weight: 800;
}

.news-description {
    width: 50%;
}

.news-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.news-description p {
    color: var(--secondary-dark-gray-blue);
}

.btn {
    width: 50%;
    height: 50px;
    font-weight: 800;
    font-size: 16px;
    border-radius: 0;
    background-color: var(--primary-red);
    color: var(--secondary-white);
    letter-spacing: 3px;
}

.btn:active, .btn:hover{
    background-color: var(--secondary-very-dark-blue);
}