.main-content {
    width: 65%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.main-image {
    width: 100%;
    margin-bottom: 20px;
}

.main-news-details {
    width: 100%;
    display: flex;
}

.main-header {
    font-size: 2.5rem;
    width: 40%;
    padding-right: 100px;
    font-weight: 800;
}

.news-description {
    width: 60%;
}

.news-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-description p {
    color: var(--secondary-dark-gray-blue);
}

.btn {
    width: 50%;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0;
    background-color: var(--primary-red);
    color: var(--secondary-white);
}