.side-content{
    width: 30%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 20px;
    background-color: var(--secondary-very-dark-blue);
    color: var(--secondary-gray-blue);
}

.new-news-main-header{
    height: 10%;
    font-size:2rem;
    padding: 10px 0;
    color: var(--primary-orange);
}

.new-news-list{
    height: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.new-news{
    border-bottom: 2px solid var(--secondary-gray-blue);
    padding: 20px 0;
}

.new-news-list div:last-child{
    border: none;
}

.new-news-header{
    color: var(--secondary-white);
    margin: 10px 0;
    font-size: 1.2rem;
}

.new-news:active .new-news-header , .new-news:hover .new-news-header{
    color: var(--primary-orange);
}
